@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.pageLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 8rem;
}
.card {
  background-color: var(--white);
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 4px;
}

.image {
 width: 100%;
 height: 100%;
 border-radius: 4px;
}

.detail {
  padding: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 4px;
  font-family:'Satisfy', cursive;
  font-size: 26px;
}


